Repository AVor0n/tank-chess: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck-client, typecheck-server, stylelint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    typecheck-client:
      root: 'packages/client'
      glob: '*.{ts,tsx}'
      run: yarn tsc -p ./tsconfig.json
    typecheck-server:
      root: 'packages/server'
      glob: '*.{ts,tsx}'
      run: yarn tsc -p ./tsconfig.json
    stylelint:
      glob: '*.{scss}'
      run: yarn stylelint {staged_files} --fix && yarn prettier -w {staged_files}
      stage_fixed: true
    prettier:
      glob: '*.{html,json.md,yml,css,js}'
      run: yarn prettier -w {staged_files}
      stage_fixed: true

feat(SSR): #Y36 Настроить Redux и Router в SSR (#33)
  packages/client/package.json
  packages/client/src/app.tsx
  packages/client/src/client.d.ts
  packages/client/src/components/PreloadStoreScript/PreloadStoreScript.tsx
  packages/client/src/components/PreloadStoreScript/index.ts
  packages/client/src/components/error/error.tsx
  packages/client/src/hoc/withAuthInfo.tsx
  packages/client/src/main.tsx
  packages/client/src/reducers/user.ts
  packages/client/src/router.tsx
  packages/client/src/store.ts
  packages/client/src/utils/renderObject.ts
  packages/client/src/utils/serviceWorker.ts
  packages/client/src/utils/webApi.ts
  packages/client/ssr.config.ts
  packages/client/ssr.tsx
  packages/server/index.ts
  packages/server/middleware/auth.middleware.ts
Due: typecheck-client, typecheck-server

feat(oAuth): #Y37 Добавить OAuth-авторизацию в проект
  lefthook.yml
  packages/client/src/components/privateRoute/privateRoute.tsx
  packages/client/src/hoc/withAuthInfo.tsx
  packages/client/src/pages/profilePage/components/avatar/avatar.module.scss
  packages/client/src/service/oauth.service.ts
Due: typecheck-client, prettier

feat(oAuth): #Y37 Добавить OAuth-авторизацию в проект
  packages/client/src/hoc/withAuthInfo.tsx
  packages/client/src/pages/authPage/components/signIn/images/yandex.svg
  packages/client/src/pages/authPage/components/signIn/signIn.tsx
  packages/client/src/pages/profilePage/components/avatar/avatar.module.scss
  packages/client/src/service/user.service.ts
Due: typecheck-client

feat(oAuth): #Y37 Добавить OAuth-авторизацию в проект
  packages/client/src/pages/authPage/components/signIn/signIn.tsx
Due: typecheck-client

feat: Y-39 Добавил сервис для использования Notification API (#34)
  packages/client/src/service/notification.service.ts
Due: typecheck-client

feat(oAuth): #Y37 Добавить OAuth-авторизацию в проект
  packages/client/src/service/oauth.service.ts
  packages/client/src/utils/constants.ts
Due: typecheck-client

fix(SSR): #Y36 Файл index.js для линковки
  packages/client/index.js
Due: prettier

fix(SSR): #Y36 Файл index.js, нужен чтобы не возникала ошибка при линке
  packages/client/index.js
Due: prettier

fix(SSR): #Y36 Файл index.js, нужен чтобы не возникала ошибка при линке (#37)
  packages/client/index.js
Due: prettier

fix(app): #Y-61 Не открывается страница Профиль
  packages/client/src/main.tsx
  packages/client/src/store.ts
Due: typecheck-client

add index.js
  packages/client/index.js
  yarn.lock
Due: prettier

feat(oAuth): #Y37 Добавить OAuth-авторизацию в проекте (испр проблема с window + сервер запускается на порту 5000)
  packages/server/index.ts
Due: typecheck-server

feat(oAuth): #Y37 Добавить OAuth-авторизацию в проекте (испр проблема с window + сервер запускается на порту 5000)
  packages/client/src/components/privateRoute/privateRoute.tsx
  packages/client/src/hoc/withAuthInfo.tsx
Due: typecheck-client

feat(oAuth): #Y37 Добавить OAuth-авторизацию в проект (#35)
  packages/client/src/components/privateRoute/privateRoute.tsx
  packages/client/src/hoc/withAuthInfo.tsx
  packages/client/src/pages/authPage/components/signIn/images/yandex.svg
  packages/client/src/pages/authPage/components/signIn/signIn.module.scss
  packages/client/src/pages/authPage/components/signIn/signIn.tsx
  packages/client/src/pages/profilePage/components/avatar/avatar.module.scss
  packages/client/src/service/oauth.service.ts
  packages/client/src/service/user.service.ts
  packages/server/index.ts
  yarn.lock
Due: typecheck-client, typecheck-server

feat(Docker): #Y41 Серверная инфраструктура для форума, эмодзи и темизации
  Dockerfile.client
  Dockerfile.server
  docker-compose.yml
  docs/get_started.md
  packages/client/package.json
  packages/client/src/pages/newTopicPage/newTopicpage.module.scss
  packages/server/package.json
Due: prettier

feat(Docker): #Y41 Серверная инфраструктура для форума, эмодзи и темизации
  packages/client/src/pages/newTopicPage/newTopicPage.module.scss
  packages/client/src/pages/newTopicPage/newTopicPage.module.scss 
Due: none

feat(emoji-client): #Y44 Эмодзи (клиентская часть)
  packages/server/index.ts
Due: typecheck-server

feat(Docker): #Y41 Серверная инфраструктура для форума, эмодзи и теми… (#40)
  Dockerfile.client
  Dockerfile.server
  docker-compose.yml
  docs/get_started.md
  packages/client/package.json
  packages/client/src/pages/newTopicPage/newTopicpage.module.scss
  packages/server/package.json
Due: prettier

Реализовать API для форума
  packages/server/constants.ts
  packages/server/controllers/comment.ts
  packages/server/controllers/index.ts
  packages/server/controllers/reply.ts
  packages/server/controllers/topic.ts
  packages/server/db.ts
  packages/server/errors/index.ts
  packages/server/errors/notFoundError.ts
  packages/server/errors/requestError.ts
  packages/server/index.ts
  packages/server/middleware/error.middleware.ts
  packages/server/models/comment.ts
  packages/server/models/index.ts
  packages/server/models/reply.ts
  packages/server/models/topic.ts
  packages/server/package.json
  packages/server/routes/comment.ts
  packages/server/routes/index.ts
  packages/server/routes/reply.ts
  packages/server/routes/topic.ts
  packages/server/tsconfig.json
Due: typecheck-server

Реализовать API для форума
  packages/server/index.ts
  packages/server/package.json
Due: typecheck-server

fix: Исправил недочеты по API форума после ревью
  packages/server/constants.ts
  packages/server/controllers/comment.ts
  packages/server/controllers/reply.ts
  packages/server/controllers/topic.ts
  packages/server/index.ts
Due: typecheck-server

Реализовать API для форума (#41)
  packages/server/constants.ts
  packages/server/controllers/comment.ts
  packages/server/controllers/index.ts
  packages/server/controllers/reply.ts
  packages/server/controllers/topic.ts
  packages/server/db.ts
  packages/server/errors/index.ts
  packages/server/errors/notFoundError.ts
  packages/server/errors/requestError.ts
  packages/server/index.ts
  packages/server/middleware/error.middleware.ts
  packages/server/models/comment.ts
  packages/server/models/index.ts
  packages/server/models/reply.ts
  packages/server/models/topic.ts
  packages/server/package.json
  packages/server/routes/comment.ts
  packages/server/routes/index.ts
  packages/server/routes/reply.ts
  packages/server/routes/topic.ts
  packages/server/tsconfig.json
Due: typecheck-server

feat(emoji): #Y44-45 Эмодзи - клиентская и серверная части
  packages/client/src/components/addReaction/addReaction.module.scss
  packages/client/src/components/addReaction/addReaction.tsx
  packages/client/src/components/addReaction/images/emoji-add-hover.svg
  packages/client/src/components/addReaction/images/emoji-add.svg
  packages/client/src/components/addReaction/index.ts
  packages/client/src/components/emojiBar/emojiBar.module.scss
  packages/client/src/components/emojiBar/emojiBar.tsx
  packages/client/src/components/emojiBar/index.ts
  packages/client/src/pages/topicPage/components/formPost/formPost.module.scss
  packages/client/src/pages/topicPage/components/formPost/formPost.tsx
  packages/client/src/pages/topicPage/components/formPost/images/emoji-btn-hover.svg
  packages/client/src/pages/topicPage/components/formPost/images/emoji-btn.svg
  packages/client/src/pages/topicPage/components/postItem/postItem.module.scss
  packages/client/src/pages/topicPage/components/postItem/postItem.tsx
  packages/client/src/pages/topicPage/topicPage.tsx
  packages/client/src/reducers/emoji.ts
  packages/client/src/reducers/index.ts
  packages/client/src/router.tsx
  packages/client/src/service/forum-test.service.ts
  packages/client/src/service/reaction.service.ts
  packages/client/src/types/types.ts
  packages/client/src/utils/constants.ts
  packages/server/assets/emoji.json
  packages/server/constants.ts
  packages/server/controllers/index.ts
  packages/server/controllers/reaction.ts
  packages/server/controllers/topic.ts
  packages/server/db.ts
  packages/server/index.ts
  packages/server/middleware/error.middleware.ts
  packages/server/models/emoji.ts
  packages/server/models/index.ts
  packages/server/models/reaction.ts
  packages/server/routes/index.ts
  packages/server/routes/reaction.ts
  packages/server/routes/topic.ts
  yarn.lock
Due: typecheck-client, typecheck-server

feat(emoji): #Y44-45 Эмодзи - клиентская и серверная части
  packages/client/src/reducers/emoji.ts
  packages/client/src/reducers/index.ts
Due: typecheck-client

feat(emoji): #Y44-45 Эмодзи - клиентская и серверная части
  packages/server/constants.ts
Due: typecheck-server

feat(emoji): Y-44-45 Эмодзи - клиентская и серверная части
  packages/client/src/components/emojiBar/emojiBar.tsx
  packages/client/src/pages/topicPage/components/formPost/formPost.tsx
  packages/client/src/service/forum-test.service.ts
  packages/client/src/utils/constants.ts
Due: typecheck-client

feat(emoji): Y-44-45 Эмодзи - клиентская и серверная части
  packages/client/src/pages/topicPage/components/formPost/formPost.tsx
  packages/client/src/service/reaction.service.ts
  packages/server/controllers/reaction.ts
  packages/server/models/reaction.ts
Due: typecheck-client, typecheck-server

help
  packages/server/controllers/reaction.ts
  packages/server/models/reaction.ts
Due: typecheck-server

feat(emoji): Y-44-45 Эмодзи - клиентская и серверная части
  packages/server/controllers/reaction.ts
  packages/server/models/reaction.ts
Due: typecheck-server

feat(Docker): #Y41 Серверная инфраструктура для форума, эмодзи и темизации
  packages/server/constants.ts
Due: typecheck-server

feat(emoji): Y-44-45 Эмодзи - клиентская и серверная части (#42)
  packages/client/src/components/addReaction/addReaction.module.scss
  packages/client/src/components/addReaction/addReaction.tsx
  packages/client/src/components/addReaction/images/emoji-add-hover.svg
  packages/client/src/components/addReaction/images/emoji-add.svg
  packages/client/src/components/addReaction/index.ts
  packages/client/src/components/emojiBar/emojiBar.module.scss
  packages/client/src/components/emojiBar/emojiBar.tsx
  packages/client/src/components/emojiBar/index.ts
  packages/client/src/pages/topicPage/components/formPost/formPost.module.scss
  packages/client/src/pages/topicPage/components/formPost/formPost.tsx
  packages/client/src/pages/topicPage/components/formPost/images/emoji-btn-hover.svg
  packages/client/src/pages/topicPage/components/formPost/images/emoji-btn.svg
  packages/client/src/pages/topicPage/components/postItem/postItem.module.scss
  packages/client/src/pages/topicPage/components/postItem/postItem.tsx
  packages/client/src/pages/topicPage/topicPage.tsx
  packages/client/src/router.tsx
  packages/client/src/service/forum-test.service.ts
  packages/client/src/service/reaction.service.ts
  packages/client/src/types/types.ts
  packages/client/src/utils/constants.ts
  packages/server/assets/emoji.json
  packages/server/constants.ts
  packages/server/controllers/index.ts
  packages/server/controllers/reaction.ts
  packages/server/controllers/topic.ts
  packages/server/db.ts
  packages/server/index.ts
  packages/server/middleware/error.middleware.ts
  packages/server/models/emoji.ts
  packages/server/models/index.ts
  packages/server/models/reaction.ts
  packages/server/routes/index.ts
  packages/server/routes/reaction.ts
  packages/server/routes/topic.ts
  yarn.lock
Due: typecheck-client, typecheck-server

fix(Docker): #Y41 Переменные окружения для Docker
  .env.sample
Due: none

fix(Docker): #Y41 env для сервера
  docker-compose.yml
Due: prettier

fix(Docker): #Y41 Вернул переменную окружения SERVER_PORT (#43)
  .env.sample
  docker-compose.yml
Due: prettier

docs: update README.md
  README.md
Due: none

docs: update README.md (#44)
  README.md
Due: none
