Repository AVor0n/tank-chess: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck-client, typecheck-server, eslint, stylelint, prettier

typecheck-client:
  run: yarn tsc -p ./tsconfig.json

typecheck-server:
  run: yarn tsc -p ./tsconfig.json

eslint:
  run: yarn eslint {staged_files} --fix --no-warn-ignored && yarn prettier -w {staged_files}
  stage_fixed: true

stylelint:
  run: yarn stylelint {staged_files} --fix && yarn prettier -w {staged_files}
  stage_fixed: true

prettier:
  run: yarn prettier -w {staged_files}
  stage_fixed: true

feat(oAuth): #Y-55 Настроить A-запись на домене
  packages/server/constants.ts
Due: typecheck-server, eslint

feat: #Y-52 Настроить Action для автодеплоя (#56)
  docs/action.md
Due: none

feat(oAuth): #Y-55 Настроить A-запись на домене (#53)
  packages/client/src/pages/authPage/utils.ts
  packages/client/src/reducers/api.ts
  packages/client/src/utils/constants.ts
  packages/server/constants.ts
Due: typecheck-client, typecheck-server, eslint

Написать конфиг nginx (SSL)
  packages/client/src/utils/constants.ts
  packages/server/constants.ts
Due: typecheck-client, typecheck-server, eslint

Написать конфиг nginx (SSL) (#57)
  packages/client/src/utils/constants.ts
  packages/server/constants.ts
Due: typecheck-client, typecheck-server, eslint

Добавил Публичный IPv4 в разрешенные адреса
  packages/server/constants.ts
Due: typecheck-server, eslint

feat(audio): #Y-50 Добавить ещё одно WEB API (Audio)
  packages/client/public/sounds/change.mp3
  packages/client/public/sounds/choose.mp3
  packages/client/public/sounds/move.mp3
  packages/client/public/sounds/shot.mp3
  packages/client/public/sounds/stop.mp3
  packages/client/public/sounds/win.mp3
  packages/client/src/lib/reactChessUI/chessCanvasUI.ts
  packages/client/src/lib/reactChessUI/soundEffects.ts
  packages/client/src/pages/gamePage/components/info/info.module.scss
  packages/client/src/pages/gamePage/components/rightColumnGame/index.ts
  packages/client/src/pages/gamePage/components/rightColumnGame/rightColumnGame.module.scss
  packages/client/src/pages/gamePage/components/rightColumnGame/rightColumnGame.tsx
  packages/client/src/pages/gamePage/components/soundToggle/images/sound-off.svg
  packages/client/src/pages/gamePage/components/soundToggle/images/sound-on.svg
  packages/client/src/pages/gamePage/components/soundToggle/index.ts
  packages/client/src/pages/gamePage/components/soundToggle/soundToggle.module.scss
  packages/client/src/pages/gamePage/components/soundToggle/soundToggle.tsx
  packages/client/src/pages/gamePage/gamePage.module.scss
  packages/client/src/pages/gamePage/gamePage.tsx
  packages/client/src/reducers/sound.ts
  packages/client/src/store.ts
Due: typecheck-client, eslint

fix(deploy): правка url для починки авторизации
  .github/workflows/build_and_push.yaml
  packages/client/src/client.d.ts
  packages/client/src/utils/constants.ts
  packages/server/index.ts
Due: typecheck-client, typecheck-server, eslint

fix(deploy): правка запроса для починки oauth
  packages/client/src/reducers/api.ts
Due: typecheck-client, eslint

fix(deploy): server-образ не содержит папки assets
  Dockerfile.server
Due: none

fix(deploy): Исправление ошибок после деплоя
  Dockerfile.server
  packages/client/src/client.d.ts
  packages/client/src/reducers/api.ts
  packages/client/src/utils/constants.ts
  packages/server/index.ts
Due: typecheck-client, typecheck-server, eslint

feat(in-progress): Игра по сети
  packages/client/package.json
  packages/client/src/app.tsx
  packages/client/src/components/finishModal/finishModal.tsx
  packages/client/src/components/playerModal/playerModal.module.scss
  packages/client/src/components/playerModal/playerModal.tsx
  packages/client/src/components/startModal/startModal.tsx
  packages/client/src/lib/chess/core/board.test.ts
  packages/client/src/lib/chess/core/game.test.ts
  packages/client/src/lib/chess/core/game.ts
  packages/client/src/lib/chess/core/player.ts
  packages/client/src/lib/chess/core/tank.test.ts
  packages/client/src/lib/chess/core/tank.ts
  packages/client/src/lib/chess/index.ts
  packages/client/src/lib/chess/types.ts
  packages/client/src/lib/reactChessUI/chessCanvasUI.ts
  packages/client/src/pages/gamePage/components/info/info.tsx
  packages/client/src/pages/gamePage/gamePage.tsx
  packages/client/src/reducers/game.ts
  packages/client/src/router.tsx
  packages/client/src/service/socket.service.ts
  packages/client/src/types/types.ts
  packages/server/controllers/reaction.ts
  packages/server/index.ts
  packages/server/middleware/auth.middleware.ts
  packages/server/models/game.ts
  packages/server/package.json
  packages/server/sessionStore.ts
  packages/server/types.ts
  yarn.lock
Due: typecheck-client, typecheck-server, eslint

fix(deploy): исправление oAuth redirect_uri
  .github/workflows/build_and_push.yaml
  packages/client/src/pages/authPage/utils.ts
  packages/client/src/reducers/api.ts
  packages/client/src/utils/constants.ts
Due: typecheck-client, eslint

fix(game): При переключении с онлайн на офлайн режим и запуске игра зависает
  packages/client/src/components/playerModal/playerModal.tsx
  packages/client/src/reducers/game.ts
Due: typecheck-client, eslint

fix(theme): Неавторизованный пользователь не имеет темы
  packages/client/src/app.tsx
Due: typecheck-client, eslint

fix(database): Блокировка базы данных при авторизации
  packages/server/controllers/user.ts
Due: typecheck-server, eslint

feat(game): Уведомления о том что противник завершил игру
  packages/client/src/pages/gamePage/components/rightColumnGame/rightColumnGame.tsx
  packages/client/src/pages/gamePage/gamePage.tsx
Due: typecheck-client, eslint

Update README.md
  README.md
Due: none

Fix some deploy errors (#58)
  Dockerfile.server
  packages/client/src/client.d.ts
  packages/client/src/reducers/api.ts
  packages/client/src/utils/constants.ts
  packages/server/index.ts
Due: typecheck-client, typecheck-server, eslint

fix(deploy): правка url для починки авторизации
  .github/workflows/build_and_push.yaml
Due: none

Path conditions:
  typecheck-client: any of: *.{ts,tsx} and ^packages/client/
  typecheck-server: any of: *.{ts,tsx} and ^packages/server/
  eslint: any of: *.{ts,tsx}
  stylelint: any of: *.{scss}
  prettier: any of: *.{html,json.md,yml,css,js}
