Repository AVor0n/tank-chess: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck-client, typecheck-server, eslint, stylelint, prettier

typecheck-client:
  run: yarn tsc -p ./tsconfig.json

typecheck-server:
  run: yarn tsc -p ./tsconfig.json

eslint:
  run: yarn eslint {staged_files} --fix --no-warn-ignored && yarn prettier -w {staged_files}
  stage_fixed: true

stylelint:
  run: yarn stylelint {staged_files} --fix && yarn prettier -w {staged_files}
  stage_fixed: true

prettier:
  run: yarn prettier -w {staged_files}
  stage_fixed: true

fix(redux): #Y-61 Убрал дублирование сторов - переписал редьюсеры на RTK queries
  packages/client/src/app.tsx
  packages/client/src/components/error/error.tsx
  packages/client/src/components/finishModal/finishModal.tsx
  packages/client/src/components/form/form.tsx
  packages/client/src/components/playerModal/playerModal.tsx
  packages/client/src/components/privateRoute/privateRoute.tsx
  packages/client/src/context/authContext.tsx
  packages/client/src/context/userContext.tsx
  packages/client/src/hoc/withAuthInfo.tsx
  packages/client/src/hook/useApiErrorToast.tsx
  packages/client/src/main.tsx
  packages/client/src/pages/authPage/authPage.tsx
  packages/client/src/pages/authPage/components/signIn/signIn.tsx
  packages/client/src/pages/authPage/utils.ts
  packages/client/src/pages/gamePage/gamePage.tsx
  packages/client/src/pages/profilePage/components/avatar/avatar.tsx
  packages/client/src/pages/profilePage/profilePage.module.scss
  packages/client/src/pages/profilePage/profilePage.tsx
  packages/client/src/reducers/api.ts
  packages/client/src/reducers/auth.ts
  packages/client/src/reducers/error.ts
  packages/client/src/reducers/game.ts
  packages/client/src/reducers/hooks.ts
  packages/client/src/reducers/index.ts
  packages/client/src/reducers/user.ts
  packages/client/src/router.tsx
  packages/client/src/service/auth.service.ts
  packages/client/src/service/index.ts
  packages/client/src/service/oauth.service.ts
  packages/client/src/service/user.service.ts
  packages/client/src/store.ts
  packages/client/src/types/types.ts
  packages/client/ssr.tsx
  packages/client/vite.config.ts
  packages/server/index.ts
Due: typecheck-client, typecheck-server, eslint

fix(redux): #Y-61 Убрал дублирование сторов - переписал редьюсеры на … (#45)
  packages/client/src/app.tsx
  packages/client/src/components/error/error.tsx
  packages/client/src/components/finishModal/finishModal.tsx
  packages/client/src/components/form/form.tsx
  packages/client/src/components/playerModal/playerModal.tsx
  packages/client/src/components/privateRoute/privateRoute.tsx
  packages/client/src/context/authContext.tsx
  packages/client/src/context/userContext.tsx
  packages/client/src/hoc/withAuthInfo.tsx
  packages/client/src/hook/useApiErrorToast.tsx
  packages/client/src/main.tsx
  packages/client/src/pages/authPage/authPage.tsx
  packages/client/src/pages/authPage/components/signIn/signIn.tsx
  packages/client/src/pages/authPage/utils.ts
  packages/client/src/pages/gamePage/gamePage.tsx
  packages/client/src/pages/profilePage/components/avatar/avatar.tsx
  packages/client/src/pages/profilePage/profilePage.module.scss
  packages/client/src/pages/profilePage/profilePage.tsx
  packages/client/src/reducers/api.ts
  packages/client/src/reducers/auth.ts
  packages/client/src/reducers/error.ts
  packages/client/src/reducers/game.ts
  packages/client/src/reducers/hooks.ts
  packages/client/src/reducers/index.ts
  packages/client/src/reducers/user.ts
  packages/client/src/router.tsx
  packages/client/src/service/auth.service.ts
  packages/client/src/service/index.ts
  packages/client/src/service/oauth.service.ts
  packages/client/src/service/user.service.ts
  packages/client/src/store.ts
  packages/client/src/types/types.ts
  packages/client/ssr.tsx
  packages/client/vite.config.ts
  packages/server/index.ts
Due: typecheck-client, typecheck-server, eslint

Поддержать API форума на клиенте
  packages/server/controllers/reaction.ts
Due: typecheck-server, eslint

feat(game): Y-38 Добавить API для лидерборда
  packages/client/src/reducers/api.ts
  yarn.lock
Due: typecheck-client, eslint

fix: ревью
  packages/client/src/pages/gamePage/gamePage.tsx
  packages/client/src/pages/gamePage/utils.ts
  packages/client/src/reducers/api.ts
Due: typecheck-client, eslint

feat(game): Y-38 Добавить API для лидерборда (#39)
  packages/client/src/pages/gamePage/gamePage.tsx
  packages/client/src/pages/gamePage/utils.ts
  packages/client/src/reducers/api.ts
  yarn.lock
Due: typecheck-client, eslint

fix review
  packages/server/controllers/user.ts
Due: typecheck-server, eslint

сохранение данных пользователя
  packages/client/src/reducers/api.ts
  packages/server/controllers/user.ts
  packages/server/db.ts
  packages/server/middleware/auth.middleware.ts
  packages/server/models/user.ts
  packages/server/routes/user.ts
Due: typecheck-client, typecheck-server, eslint

сохранение пользователя в БД
  packages/server/controllers/user.ts
  packages/server/db.ts
  packages/server/middleware/auth.middleware.ts
  packages/server/models/user.ts
  packages/server/routes/user.ts
Due: typecheck-server, eslint

сохранение пользователя в БД
  packages/client/src/components/privateRoute/privateRoute.tsx
  packages/client/src/reducers/api.ts
Due: typecheck-client, eslint

рефакторринг с учетом таблиц user
  packages/server/controllers/reaction.ts
  packages/server/db.ts
  packages/server/models/reaction.ts
  packages/server/routes/reaction.ts
Due: typecheck-server, eslint

feat: #Y-90 заполнение таблицы Emoji на инициализацию, таблица user, лайки - подсчет
  packages/client/src/components/addReaction/addReaction.tsx
  packages/client/src/pages/topicPage/components/commentItem/commentItem.tsx
  packages/client/src/reducers/forum/commentSlice.ts
  packages/client/src/service/reaction.service.ts
  packages/client/src/types/types.ts
  packages/server/controllers/reaction.ts
  packages/server/controllers/topic.ts
  packages/server/db.ts
  packages/server/models/comment.ts
  packages/server/models/emoji.ts
  packages/server/models/reaction.ts
  packages/server/routes/reaction.ts
Due: typecheck-client, typecheck-server, eslint

fix(emoji+user): #Y-90 заполнение таблицы Emoji на инициализацию, таблица user, лайки - подсчет
  packages/client/src/components/addReaction/addReaction.tsx
  packages/client/src/components/privateRoute/privateRoute.tsx
  packages/client/src/pages/topicPage/components/commentItem/commentItem.tsx
  packages/client/src/reducers/api.ts
Due: typecheck-client, eslint

fix(emoji+user): #Y-90 заполнение таблицы Emoji на инициализацию, таблица user, лайки - подсчет
  packages/server/db.ts
Due: typecheck-server, eslint

fix(emoji+user): #Y-90 заполнение таблицы Emoji на инициализацию, таблица user, реакции - правильный подсчет (#48)
  packages/client/src/components/addReaction/addReaction.tsx
  packages/client/src/pages/topicPage/components/commentItem/commentItem.tsx
  packages/client/src/reducers/api.ts
  packages/client/src/reducers/forum/commentSlice.ts
  packages/client/src/service/reaction.service.ts
  packages/client/src/types/types.ts
  packages/server/controllers/reaction.ts
  packages/server/controllers/topic.ts
  packages/server/controllers/user.ts
  packages/server/db.ts
  packages/server/middleware/auth.middleware.ts
  packages/server/models/comment.ts
  packages/server/models/emoji.ts
  packages/server/models/reaction.ts
  packages/server/models/user.ts
  packages/server/routes/reaction.ts
  packages/server/routes/user.ts
Due: typecheck-client, typecheck-server, eslint

feat: #Y-52 Настроить Action для автодеплоя
  .github/workflows/build_and_push.yaml
Due: none

feat(audio): #Y-50 Добавить ещё одно WEB API (Audio)
  packages/client/public/sounds/move.mp3
  packages/client/public/sounds/shot.mp3
  packages/client/public/sounds/stop.mp3
  packages/client/src/lib/reactChessUI/chessCanvasUI.ts
  packages/client/src/lib/reactChessUI/soundEffects.ts
  packages/client/src/pages/gamePage/components/info/info.module.scss
  packages/client/src/pages/gamePage/components/rightColumnGame/index.ts
  packages/client/src/pages/gamePage/components/rightColumnGame/rightColumnGame.module.scss
  packages/client/src/pages/gamePage/components/rightColumnGame/rightColumnGame.tsx
  packages/client/src/pages/gamePage/components/soundToggle/images/sound-off.svg
  packages/client/src/pages/gamePage/components/soundToggle/images/sound-on.svg
  packages/client/src/pages/gamePage/components/soundToggle/index.ts
  packages/client/src/pages/gamePage/components/soundToggle/soundToggle.module.scss
  packages/client/src/pages/gamePage/components/soundToggle/soundToggle.tsx
  packages/client/src/pages/gamePage/gamePage.module.scss
  packages/client/src/pages/gamePage/gamePage.tsx
  packages/client/src/reducers/sound.ts
  packages/client/src/store.ts
  packages/client/src/utils/shot.mp3
  packages/server/constants.ts
  packages/server/db.ts
Due: typecheck-client, typecheck-server, eslint

Добавить пользователя при создании топика и комментариев к ним
  packages/client/src/pages/forumPage/constants.tsx
  packages/client/src/pages/forumPage/forumPage.tsx
  packages/client/src/pages/topicPage/components/commentItem/commentItem.tsx
  packages/client/src/reducers/forum/topicSlice.ts
  packages/server/controllers/comment.ts
  packages/server/controllers/topic.ts
  packages/server/models/comment.ts
  packages/server/models/topic.ts
  packages/server/models/user.ts
Due: typecheck-client, typecheck-server, eslint

feat(audio): #Y-50 Добавить ещё одно WEB API (Audio)
  packages/client/public/sounds/change.mp3
  packages/client/public/sounds/choose.mp3
  packages/client/public/sounds/win.mp3
  packages/client/src/lib/reactChessUI/chessCanvasUI.ts
  packages/client/src/lib/reactChessUI/soundEffects.ts
  packages/client/src/pages/gamePage/gamePage.tsx
  packages/client/src/utils/constants.ts
  packages/server/constants.ts
  packages/server/db.ts
Due: typecheck-client, typecheck-server, eslint

Добавить пользователя при создании топика и комментариев к ним (#50)
  packages/client/src/pages/forumPage/constants.tsx
  packages/client/src/pages/forumPage/forumPage.tsx
  packages/client/src/pages/topicPage/components/commentItem/commentItem.tsx
  packages/client/src/reducers/forum/topicSlice.ts
  packages/server/controllers/comment.ts
  packages/server/controllers/topic.ts
  packages/server/models/comment.ts
  packages/server/models/topic.ts
  packages/server/models/user.ts
Due: typecheck-client, typecheck-server, eslint

feat(audio): #Y-50 Добавить ещё одно WEB API (Audio)
  packages/client/src/pages/gamePage/components/soundToggle/soundToggle.tsx
Due: typecheck-client, eslint

feat: #Y-52 Настроить Action для автодеплоя (#49)
  .github/workflows/build_and_push.yaml
Due: none

feat(CI): #Y ветка для тестирования GitHub Actions
  .github/workflows/build_and_push.yaml
Due: none

https://stackoverflow.com/questions/76607955/error-denied-installation-not-allowed-to-create-organization-package
  .github/workflows/build_and_push.yaml
Due: none

feat(oAuth): #Y-55 Настроить A-запись на домене
  packages/client/src/pages/authPage/utils.ts
  packages/client/src/reducers/api.ts
  packages/client/src/utils/constants.ts
  packages/server/constants.ts
Due: typecheck-client, typecheck-server, eslint

feat(oAuth): #Y-55 Настроить A-запись на домене
  packages/client/src/reducers/api.ts
  packages/client/src/utils/constants.ts
  packages/server/constants.ts
Due: typecheck-client, typecheck-server, eslint

feat(oAuth): #Y-55 Настроить A-запись на домене
  packages/client/src/pages/authPage/utils.ts
Due: typecheck-client, eslint

feat: #Y-52 Настроить Action для автодеплоя
  README.md
  docs/action.md
Due: none

feat: #Y-52 Настроить Action для автодеплоя (#54)
  README.md
  docs/action.md
Due: none

feat: #Y-52 Настроить Action для автодеплоя
  docs/action.md
  packages/client/src/pages/newTopicPage/newTopicPage.module.scss
Due: none

feat: #Y-52 Настроить Action для автодеплоя
  docs/action.md
Due: none

Path conditions:
  typecheck-client: any of: *.{ts,tsx} and ^packages/client/
  typecheck-server: any of: *.{ts,tsx} and ^packages/server/
  eslint: any of: *.{ts,tsx}
  stylelint: any of: *.{scss}
  prettier: any of: *.{html,json.md,yml,css,js}
